@model MyWoodenHouse.Client.Web.ViewModels.Gallery.PictureGalleryVm

@{
    ViewBag.Title = "Galery";
}

<h2>Gallery</h2>

@Html.Partial("_PictureDetailPartial", Model)

@using (Ajax.BeginForm("GetNextPicture", "Gallery", new { PreviewId = Model.Id }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "picturePreview",
    LoadingElementId = "loader",
    HttpMethod = "GET",
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <button type="submit" class="btn btn-default">Next</button>
}

@* ... *@
<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="~/Images/ajax-loader.gif" />
</div>
