<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="MyWoodenHouseDbContextConnectionString"
      connectionString="Data Source=.;Initial Catalog=MyWoodenHouse;Integrated Security=true;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>-->
  <add name="MyWoodenHouseDbContextConnectionString"
      connectionString="Data Source=.;Initial Catalog=MyWoodenHouse-sut;Integrated Security=false;User Id=mywoodenhouse;Password=11; MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>