@model MyWoodenHouse.Client.Web.ViewModels.Gallery.PictureGalleryVm

@{
    Layout = null;
}

<div id="picturePreview">
    <img src="@Model.Url" alt="@Model.Name" height="500px" />
    <br/>
    @Html.DisplayFor(modelName => Model.Name)
</div>
