@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Banishora, Sofia, 1233<br />
    Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
    0893 313 846
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">alex@alex.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">alex.marketing@alex.com</a>
</address>