@{
    ViewBag.Title = "Home Page";
}

<div class="home-page">
    <div class="img-wrapper">
        <img class="img-outside" src="../../../Assets/Images/pexels-photo.png" alt="">
        <div class="box">
            <h1>Change Modern wooden house</h1>
            <h4>we help you enjoy it!</h4>
            <div class="big">
                <div class="small small-img">
                    <!--<img class="img-in" src="../../assets/images/modern-wooden-house-small.jpg" alt="">-->
                </div>
                <div class="small">
                    <ul>
                        <li>Easy and fast to build</li>
                        <li>Energy saving</li>
                        <li>Natural materials</li>
                        <li>Save time and resources</li>
                        <li>Enjoy your ne home</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>